<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Porters Portfolio</title>
    <script async defer data-website-id="0599da47-5cf5-450f-ba19-d652e3dbbd68" src="https://porpus-analytics.xyz/umami.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Porters Portfolio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
