<template>
  <v-container fluid grid-list-md style="width: 85%">
    <v-row>
      <v-col
        justify-self="center"
        align-self="center"
        xs="12"
        sm="12"
        md="6"
        lg="4"
        xl="3"
        v-for="project in projects"
        :key="project"
      >
        <PortfolioCard :data="project" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import PortfolioCard from "@/components/PortfolioCard.vue";

export default {
  name: "Portfolio",
  components: {
    PortfolioCard
  },
  data: function() {
    return {
      projects: [
        {
          title: "Sustainable Chef",
          image: require("@/assets/sc.png"),
          description:
            "A full stack web application to help reduce food waste. Built with Django, QuaggaJS, and Postgres",
          link: "/portfolio/sustainable_chef",
          alt: "A picture of the sustainable chef application",
          localLink: true
        },
        {
          title: "Decisionizer",
          image: require("@/assets/decisionizerPage.png"),
          description:
            "A web app to make decisions efficiently by allowing random chance to decide. Built with Svelte and Typescript. With the Random.org API for true randomness.",
          link: "https://decisionizer.xyz/",
          alt: "A picture of the decisionizer web application",
          localLink: false
        },
        {
          title: "Portfolio",
          image: require("@/assets/personalWebsite.png"),
          description: "This website. Made with Vue.",
          link: "/",
          alt: "A picture the front page of this website.",
          localLink: false
        }
      ]
    };
  }
};
</script>
