<template>
  <v-card hover max-width="500px" class="pa-4">
    <v-card-title class="largerTitle">{{ data.title }}</v-card-title>
    <v-img v-bind:alt="data.alt" :src="data.image" class="m-auto p-image" />
    <v-card-subtitle class="largerSubtitle">{{
      data.description
    }}</v-card-subtitle>
    <v-btn v-if="data.localLink" :to="data.link" exact depressed
      >Check it out</v-btn
    >
    <v-btn v-else :href="data.link" exact depressed>Check it out</v-btn>
  </v-card>
</template>

<script>
export default {
  name: "PortfolioCard",
  props: {
    data: {
      type: Object
    }
  }
};
</script>

<style lang="sass" scoped>
.p-image
  width: 75%

.m-auto
  margin: 0 auto

.largerSubtitle
  font-size: 1.1rem

.largerTitle
  font-size: 1.4rem
</style>
